.parallax {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    margin-bottom: -100vh;
    background-size: cover;
    background-position: center;

    & + * {
        height: 100vh;
    }

    &.parallax--header {
        height: 312px;
        margin-bottom: -312px;

        & + * {
            height: 312px;
        }
    }
}