$card-background: white;

.card {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding: 40px;
  background-color: $card-background;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);

  &.card--subtitle {
    padding: 2.5em 1.5em 1.5em;
  }

  .card__button {
    padding: 0.85em 2em;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.2s linear;
    cursor: pointer;
    background-color: $card-background;

    &:hover {
      box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
    }
  }

  &.card--font-spaced .card__content > * {
    margin-bottom: 0.5em;
  }

  &.card--font-spaced .card__content:not(:last-child) {
    margin-bottom: unset;
  }

  &.card--constant-spaced .card__content > * + * {
    margin-top: 20px;;
  }
  
  * {
    background-color: inherit;
  }
}