.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($color: #444444, $alpha: 0.4);
    overflow-y: hidden;

    .modal__content {
        max-height: 60%;
        position: absolute !important;
        top: 50%;
        left: 20%;
        width: 60%;
        transform: translateY(-50%);
    }

    &.modal--scroll {
        overflow-y: scroll;

        .modal__content {
            max-height: unset;
        }
    }
}