/* set to fixed when  */

.card {
    display: inline-block;
    box-sizing: border-box;
    height: 300px;
    width: auto;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 0.4em;
    box-shadow: #999 0 0 0.65em;
    /* transition: width 0.3s ease-in-out, height 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out */
}

.card > .wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}

.card.expanded {
    top: 50%;
    left: 50%;
    width: 80% !important;
    height: 80% !important;
    transform: translate(-50%,-50%);
    position: fixed;
    z-index: 10000;
    transition: left cubic-bezier(0.6,-0.4,0.35,1) 0.65s
}

.card.expanded.prev {
    left: calc(-100vw + 50%);
}

.card.expanded.next {
    left: calc(100vw + 50%);
}

.card .title {
    text-align: center;
}

.card #cd-content {
    padding: 5px 10px;
    flex-grow: 1;
}

.card #cd-btm {
    /* margin: 0 -5px -5px -10px; */
}

.card #prev,.card #next {
    box-sizing: border-box;
    border: 1px solid transparent;
    font-size: 15px;
    padding: 0.2rem 1rem;
    border-radius: 0.45rem;
    cursor: pointer;
}

.card #prev {
    float: left;
    color: #898989;
}

.card #prev:hover {
    border: 1px dotted rgb(128, 125, 125);
}

.card #prev:focus {
    border: 1px solid transparent;
    background: #bdbdbd !important;
    color: white;
}

.card #next {
    float: right;
    color: white;
    background: rgb(41, 139, 231);
}

.card #next:hover {
    background: rgb(66, 164, 255);
}

.card #next:focus {
    background: rgb(96, 178, 255);
}

.card #cd-btn {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    /* For small mobile phones: */
    
}

@media only screen and (max-width: 768px) {
    /* For large mobile phones: */
    
}

@media only screen and (min-width: 992px) {
    /* For large desktop/laptop montiors */
    
} 