#navbar {
    position: fixed;
    z-index: 100;
}

.bar {
    box-sizing: border-box;
    width: 100%;
    padding: 0 0.2em;
    background: #f2ebcd;
}

.bar-content {
    display: inline-block;
    position: relative;
}

#nav-content > * {
    position: relative;
}

#scroll-navbar {
    position: absolute;
}

.navbar-line {
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #9F9F9F;
    transition: width 0.3s ease-in, left .3s ease-in;
}

.nav-item {
    display: inline-block;
    box-sizing: border-box;
    /* width: 100px; */
    position: relative;
    cursor: pointer;
    padding: 0.3em 0.5em;
}

.nav-item.selected {
    color: #9F9F9F;
}

@media only screen and (max-width: 600px) {
    /* For small mobile phones: */
    
}

@media only screen and (max-width: 768px) {
    /* For large mobile phones: */
    
}

@media only screen and (min-width: 992px) {
    /* For large desktop/laptop montiors */
    
}