body {
    margin: 0;
}

.title {
    color: red;
    margin: 0;
}

.section {
    width: 100%;
    height: 100vh;
}

#intro {
    background-image: url(drawing.svg);
}

#whoami {
    background-color: #e9e9e9;
}

#work-experience {
    background-color: #f1f1f1;
}

#tools {
    background-color: #e9e9e9;
}

#projects {
    background-color: #f1f1f1;
}